@import 'utils/variables';
@import 'components/container-section';
@import 'components/icons.scss';
@import 'components/header';

:root {
  --var-color-text: #757575;
  --var-color-fondo-hover-focus: #2196f3;
  --var-colo-text-hover-focus: #ffffff;
  --var-color-fondo: #2f303a;
  --var-color-fondo1: #f5f4fa;
}

/* En esta posición trabajamos en el header */

/* Estilos de svg */

.title-footer {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7142em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.cont-footer {
  margin-right: 70px;
}

/* En esta posición trabajo en la lista de navegación */

/* En esta ósición trabajo de la lista de contacto */

/* Ya esta listo el header */
/* ************************************** */
/* En esta posición trabajamos en el main */
/* ************************************** */
main {
  background: var(--var-colo-text-hover-focus);
}

main li {
  list-style: none;
}

.conten-prin {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/images2/Imagen.jpg);
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: auto;
  padding-top: 200px;
  padding-bottom: 181px;
}

/* Trabajo en la section del titulo principal */

.title {
  width: 696px;
  display: block;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 41px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363em;
  /* or 136% */

  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Trabajo en la seción del boton pagina Principal */
.boton {
  /* Centrar boton */
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;

  /* Le damos estilo a las letras  */
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.boton:hover,
.boton:focus,
.boton:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.principal-detalles {
  padding: 0px;
  margin: 0 auto;
}

.principal-detalles ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
}

.lis-detalle {
  margin-right: 30px;
}

.principal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--var-color-title);
}

.principal-text {
  width: 270px;
  margin: auto;
  font-size: 14px;
  text-align: justify;
  line-height: 1.71em;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--var-color-text);
}

.principal-title-equipo {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.428em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--var-color-title);
}

/* Aplicamos hover para los titulos */
.title:hover,
.principal-title:hover,
.principal-title:hover,
.principal-text:hover,
.principal-text:active,
.title-pg-principal:hover,
.principal-title-equipo:hover,
.principal-text-equipo:hover,
.portfolio-title:hover,
.portfolio-text:hover,
.images-detalle p:hover,
.images-detalle1 p:hover,
.title-footer:hover {
  text-decoration: underline var(--var-color-fondo-hover-focus) 1px;
}

.principal-text-equipo {
  margin: auto;
  font-size: 14px;
  text-align: center;
  line-height: 1.71em;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--var-color-text);
}

/* Centramos las imagenes en la pagina principal */
.cont-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Trabajamos en los titulos del cuerpo h2 */
.title-pg-principal {
  margin: auto;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--var-color-title);
}

.list-img {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.images-detalle1 {
  width: 373.16px;
  height: 323.7px;
  margin-left: 30.26px;
  margin-right: 23.42px;

  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.images-detalle {
  width: 373.16px;
  height: 323.7px;

  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.images-detalle p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7142em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  position: absolute;
  top: 0%;
  width: 373.16px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  margin: auto;
  margin-top: 66%;
}

.images-detalle1 p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7142em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  position: absolute;
  top: 0%;
  width: 373.16px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  margin: auto;
  margin-top: 66%;
}

.images-detalle p:hover,
.images-detalle1 p:hover {
  border: 2px solid var(--var-color-fondo-hover-focus);
  border-radius: 2px;
}

.image-prin-detalle {
  width: 373.16px;
  height: 323.7px;
}

.image-prin-detalle:hover,
.image-prin-equipo:hover {
  border: 2px solid var(--var-color-fondo-hover-focus);
  border-radius: 2px;
}

/* Trabajo en la section de nuestro equipo */
.color-equipo {
  background: var(--var-color-fondo1);
}

.con-equipo {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  padding-top: 94px;
}

.lis-equipo {
  display: flex;
  margin: auto;
  padding: 0px;
}

.conten-img-equipo {
  background: #ffffff;
  margin-right: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.conten-img-equipo1 {
  background: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.image-prin-equipo {
  width: 270px;
  height: 260px;
}

/* Trabajamos en el portafolio */
.cuepo-portafolio {
  margin: 0 auto;
  padding: 0px;
}

/* Trabajo en la seción del boton pagina Portafolio */
.cont-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px;
  padding-bottom: 50px;
}

.button1 {
  width: 73px;
  height: 38px;
  margin-right: 9px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--var-colo-text-hover-focus);
  border: none;
  border-radius: 4px;
  background: var(--var-color-fondo-hover-focus);
}

.button {
  width: 145px;
  height: 38px;
  margin-right: 9px;
  background: var(--var-color-fondo1);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  border: none;
  border-radius: 4px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus,
.button:active,
.button1:hover,
.button1:focus,
.button1:active {
  cursor: pointer;
  background: var(--var-color-fondo-hover-focus);
  color: var(--var-colo-text-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cont-portafolio-img {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont-img-portafolio {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  cursor: pointer;
}

.cont-img-portafolio1 {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  cursor: pointer;
}

.cont-img-portafolio2 {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  cursor: pointer;
}

.cont-img-portafolio3 {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  cursor: pointer;
}

.cont-img-portafolio:hover,
.cont-img-portafolio1:hover,
.cont-img-portafolio2:hover,
.cont-img-portafolio3:hover {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-portafolio {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-por {
  width: 370px;
  height: 294px;
  padding-right: 1px;
}

.img-parrafo {
  width: 370px;
  height: 294px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55em;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  text-align: justify;
  padding: 64px 24px;
  margin: 0 auto;
  background-color: rgba(33, 150, 243, 0.9);
  top: 294px;
  opacity: cubic-bezier(0.4, 0, 0.2, 1), visibility cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.link-portafolio:hover > .img-parrafo {
  top: 0px;
}

/* Trabajamos en los titulos del cuerpo h3 */
.portfolio-title {
  margin-left: 24px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  color: #212121;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin-left: 24px;
  margin-right: 24px;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--var-color-text);
}

/* En esta posición trabajamos en el footer */

footer {
  background: var(--var-color-fondo);
}

.container-footer {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-web-footer {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15em;
  color: #2196f3;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.link-footer {
  list-style: none;
  font-style: normal;
  padding: 0%;
  width: 231px;
  height: 92px;
}

.link-footer a:hover,
.link-footer a:focus {
  color: var(--var-color-fondo-hover-focus);
}

.link-footer a {
  text-decoration: none;
  font-style: normal;
}

.link-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142em;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-con {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142em;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Trabajamos en el Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 600px;
  margin: auto;
  opacity: 1;
  opacity: 1;
  visibility: visible;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close {
  position: relative;
  width: 30px;
  height: 30px;
  left: 492px;
  margin-top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  cursor: pointer;
  color: #000000;
  opacity: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover,
.button-modal-close:focus {
  fill: var(--var-color-fondo-hover-focus);
}

.formu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-modal {
  width: 448px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-modal-comen {
  width: 448px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-modal-check {
  width: 448px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
}

.descrip {
  display: flex;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714em;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  margin-top: 5px;
}

.submit {
  background-color: #2196f3;
  display: block;
  margin: auto;
  cursor: pointer;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  /* identical to box height, or 188% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.submit:hover {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title-modal {
  text-align: center;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.tex-modal {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166em;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}

.modal-datos {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166em;
  letter-spacing: 0.01em;
  /* color: rgba(117, 117, 117, 0.5); */
  color: rgba(33, 33, 33, 1);
}

.form-icons {
  position: relative;
}

.icons-form {
  position: absolute;
  left: 15px;
  transform: translateY(-210%);
}

.modal-datos:hover + .form-icons,
.modal-datos:focus + .form-icons {
  fill: #2196f3;
}

.modal-datos:hover {
  border-color: #2196f3;
}

.modal-coment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 4px;
  padding: 12px 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166em;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-coment:hover {
  border-color: #2196f3;
}

textarea {
  resize: none;
}

.form-footer {
  display: flex;
}

.form-sucrib {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-right: 12px;
}

.for-button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 36px;
  padding-left: 39px;
  padding-right: 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  /* identical to box height, or 188% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  fill: #ffffff;
}

.input-footer {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding: 16px 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  opacity: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  /* identical to box height, or 125% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tex-for {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-enviar {
  width: 24px;
  height: 24px;
  margin: auto;
  margin-left: 20px;
}
