.images-vect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.images-vect:hover {
  border: 2px solid var(--var-color-fondo-hover-focus);
  border-radius: 2px;
}

.images-vect:hover {
  fill: #2196f3;
}

.container-redes-socia {
  display: flex;
  justify-content: center;
  height: 44px;
  margin-top: 16px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 16px;
}

.container-redes-footer {
  display: flex;
  justify-content: center;
  height: 44px;
  margin-top: 16px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 16px;
}

.icons-redes {
  border-radius: 50%;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  fill: #afb1b8;
  margin-bottom: 0px;
}

.icons-redes-footer {
  border-radius: 50%;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  fill: #afb1b8;
  margin-bottom: 0px;
}

.icons-redes-footer1 {
  border-radius: 50%;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  background: #2196f3;
  fill: #f5f4fa;
  margin-bottom: 0px;
}

.icons-redes:hover,
.icons-redes-footer:hover,
.icons-redes-footer1:hover,
.icons-redes:focus,
.icons-redes-footer:focus,
.icons-redes-footer1:focus {
  background: #2196f3;
  fill: #f5f4fa;
}

.redes {
  width: 20px;
  height: 20px;
}

section.container-clientes {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 59px;
}

.container-icons-clientes {
  display: flex;
  justify-content: center;
}

.icons-clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 81px;
  fill: #afb1b8;
  margin-right: 30px;
}

.icons-clientes-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 81px;
  fill: #afb1b8;
}

.icons-clientes:hover,
.icons-clientes-6:hover {
  fill: #2196f3;
  border: 2px solid var(--var-color-fondo-hover-focus);
  border-radius: 2px;
}

.cliente-1 {
  width: 41px;
  height: 46.7px;
}

.cliente-2 {
  width: 40px;
  height: 52px;
}

.cliente-3 {
  width: 43.46px;
  height: 41.18px;
}

.cliente-4 {
  width: 84.44px;
  height: 40.62px;
}

.cliente-5 {
  width: 62.54px;
  height: 45.43px;
}

.cliente-6 {
  width: 93.73px;
  height: 43.93px;
}
