.color-equipo {
  background: $background-equipment;
}

.equipment-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  margin: auto;
  padding: 0px;
}

.conten-img-equipo {
  background: #ffffff;
  margin-right: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.conten-img-equipo1 {
  background: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.image-prin-equipo {
  width: 270px;
  height: 260px;
}
