$border-bottom: 1px solid #ececec;
$primary-color: #2196f3;
$color-logo: #2196f3;
$color-text: #757575;
$color-title: #212121;

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background: #ffffff;
  margin: 0%;
}
