$border-bottom: 1px solid #ececec;
$border-input-footer: 1px solid rgba(255, 255, 255, 0.3);
$primary-color: #2196f3;
$primary-fill-color: #afb1b8;
$color-logo: #2196f3;
$color-text: #757575;
$color-fill: #f5f4fa;
$color-text-footer: #ffffff;
$color-title: #212121;
$text-footer: rgba(255, 255, 255, 0.6);
$text-button: #ffffff;
$fill-button: #ffffff;
$background-footer: #2f303a;
$background-input-footer: #2f303a;
$background-button: #2196f3;
$background-icons: rgba(255, 255, 255, 0.1);
$background-window: #ffffff;

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background: #ffffff;
  margin: 0%;
}
